workflows/cutout.asl.json
{
	"StartAt": "Format data",
	"States": {
		"Format data": {
			"Type": "Pass",
			"Parameters": {
				"downloadBucket.$": "$.detail.bucket.name",
				"downloadKey.$": "$.detail.object.key",
				"uploadBucket": "${cutoutImages}"
			},
			"Next": "Get Signed Url"
		},
		"Get Signed Url": {
			"Type": "Task",
			"Resource": "arn:aws:states:::lambda:invoke",
			"OutputPath": "$.Payload",
			"Parameters": {
				"Payload.$": "$",
				"FunctionName": "${getSignedUrl}"
			},
			"Retry": [
				{
					"ErrorEquals": [
						"Lambda.ServiceException",
						"Lambda.AWSLambdaException",
						"Lambda.SdkClientException",
						"Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 1,
					"MaxAttempts": 3,
					"BackoffRate": 2
				}
			],
			"Next": "Call Adobe Cut Out API"
		},
		"Call Adobe Cut Out API": {
			"Type": "Task",
			"Resource": "arn:aws:states:::http:invoke",
			"Parameters": {
				"ApiEndpoint": "https://image.adobe.io/sensei/cutout",
				"Method": "POST",
				"Authentication": {
					"ConnectionArn": "${adobeConnection}"
				},
				"RequestBody": {
					"input": {
						"storage": "external",
						"href.$": "$.downloadUrl"
					},
					"output": {
						"storage": "external",
						"type": "image/png",
						"href.$": "$.uploadUrl",
						"mask": {
							"format": "soft"
						}
					}
				}
			},
			"Retry": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"BackoffRate": 2,
					"IntervalSeconds": 1,
					"MaxAttempts": 3,
					"JitterStrategy": "FULL"
				}
			],
			"End": true
		}
	}
}